<strong>Hello <%=current_user.first_name + ' ' + current_user.last_name%>!</strong>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Incomes/Expenses table</h1>

<form class="form-inline">
  <div class="form-group">
    <%=label_tag :select_date %>
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" name="datepicker" value ="<%=params[:datepicker]%>" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "DD MMMM,YYYY"
            });
        });
    </script>
  </div>
  <div class="form-group">
    <%=label_tag :select_category %>
    <%=select_tag(:select_category, options_for_select([['All', 0],['Incomes', 1], ['Expenses', 2]], params[:select_category]), :class=>"form-control search")%>
  </div>
  <div id="reset" class="btn btn-default">Reset</div>
  <button type="submit" class="btn btn-primary">Find</button>
</form>

  <table class="table table-striped">

     <thead>
    <tr>
      <th>Value</th>
      <th>Category</th>
      <th>Description</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @summary.each do |expense| %>
        <tr>
          <td><strong><%= number_to_currency(expense.value) %></strong></td>
          <% if expense.respond_to?(:expense_category)%>
            <td><strong class="red">Expense <%= expense.expense_category.name %></strong></td>
          <%end%>
          <% if expense.respond_to?(:income_category)%>
              <td><strong class="green">Income <%= expense.income_category.name %></strong></td>
          <%end%>
          <td><%= expense.description %></td>
          <td><%= expense.date.strftime("%d %B, %Y") if expense.date %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>


</div>


