<p id="notice"><%= notice %></p>

<p>
  <strong>Income category:</strong>
  <%= @income.income_category.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @income.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @income.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @income.date.strftime("%d %B, %Y") if @income.date%>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
